<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists' %>
</div>


<div class="col-md-8">
  <h1>Художники 
<% if can? :create, Artist %>
  <small class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_artist_path %></small>
<% end %>
  </h1>

  <ul class="media-list">
      <% @artists.each do |artist| %>
        <%= render 'view', :artist => artist %>
      <% end %>
  </ul>

</div>

<div class="col-md-2">
  <%= render 'layouts/advert' %>
</div>

</div>
