<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists' %>
</div>


<div class="col-md-8">
  <h1>Художники</h1>

  <ul class="media-list">
      <% @artists.each do |artist| %>
        <%= render 'view', :artist => artist %>
      <% end %>
  </ul>

  <br>

  <% can? :new, Artist do%>
  <%= link_to 'Новый', new_artist_path %>
  <% end %>
</div>

<div class="col-md-2">
  <%= render 'layouts/advert' %>
</div>

</div>
