<div class="row">

<div class="col-md-2">
  
</div>

<div class="col-md-8">

<h1>New artist</h1>

<%= render 'form' %>

<%= link_to 'Back', artists_path %>
</div>

<div class="col-md-2">
  
</div>

</div>