<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
  <h1>Редактирование новости</h1>

<%= render 'form' %>

<%= link_to 'Просмотр', @topic %> |
<%= link_to 'Вернуться', topics_path %>
</div>
<div class="col-md-2"></div>

</div>