<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists' %>
</div>
<div class="col-md-8">
<h1>Новости 
<% if can? :create, Topic %>
<small class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_topic_path %></small>
<% end %>
</h1>

<ul class="media-list">
    <% @topics.each do |topic| %>
      <%= render 'view', :topic => topic %>
    <% end %>
</ul>

</div>

<div class="col-md-2">
  <%= render 'layouts/advert' %>
</div>
</div>