<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists' %>
</div>
<div class="col-md-8">
<h1>Новости</h1>

<ul class="media-list">
    <% @topics.each do |topic| %>
      <%= render 'view', :topic => topic %>
    <% end %>
</ul>

<br>

<%= link_to 'Добавить новость', new_topic_path %>
</div>

<div class="col-md-2">
  <%= render 'layouts/advert' %>
</div>
</div>