<h1>Статистика проекта</h1>
<p>Зарегистрировано участников:</p>
<ul>
  <li>Администраторов</li>
  <li>Модераторов</li>
  <li>Авторов статей</li>
  <li>Художников</li>
  <li>Пользователей всего</li>
</ul>
