<h1>О нас</h1>
<div class="row">
<div class="col-md-12">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde fugiat amet iusto aspernatur, officia aperiam error illo ad quaerat porro eius voluptatibus harum nam ipsa a perspiciatis sapiente eos iure.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quasi praesentium ea, tempora, omnis dolore possimus culpa unde velit ipsa voluptates quia sapiente, voluptate illum. Nulla minima, quas ratione dolores.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellendus sunt facere aliquid dolor vel minus maxime expedita accusamus. Dignissimos repellat, culpa dolorum sapiente accusantium ipsam sunt a, voluptatibus architecto!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sint repellat commodi autem reprehenderit, placeat ipsam. Exercitationem iusto quia aliquid dignissimos a, hic! Recusandae omnis corrupti cum commodi asperiores aliquam.</p>
</div>
</div>

<div class="row">
  <div class="col-md-4"><%= holder_tag '400x300', 'Test 1', 'lava', :class => 'img-responsive' %></div>
  <div class="col-md-4"><%= holder_tag '400x300', 'Test 2', 'lava', :class => 'img-responsive' %></div>
  <div class="col-md-4"><%= holder_tag '400x300', 'Test 3', 'lava', :class => 'img-responsive' %></div>
</div>

<div class="row">
<div class="col-md-12">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quasi praesentium ea, tempora, omnis dolore possimus culpa unde velit ipsa voluptates quia sapiente, voluptate illum. Nulla minima, quas ratione dolores.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellendus sunt facere aliquid dolor vel minus maxime expedita accusamus. Dignissimos repellat, culpa dolorum sapiente accusantium ipsam sunt a, voluptatibus architecto!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sint repellat commodi autem reprehenderit, placeat ipsam. Exercitationem iusto quia aliquid dignissimos a, hic! Recusandae omnis corrupti cum commodi asperiores aliquam.</p>
</div>
</div>