<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists'%>
</div>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <h1>О нас</h1>

      <h2>Nulla minima, quas ratione dolores.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde fugiat amet iusto aspernatur, officia aperiam error illo ad quaerat porro eius voluptatibus harum nam ipsa a perspiciatis sapiente eos iure.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quasi praesentium ea, tempora, omnis dolore possimus culpa unde velit ipsa voluptates quia sapiente, voluptate illum. Nulla minima, quas ratione dolores.</p>
      <h2>Delectus nostrum, laborum ipsum dolore commodi.</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis doloribus repudiandae sed libero est vitae eos iusto mollitia voluptatum vero atque amet recusandae corrupti excepturi eveniet, in vel, sapiente debitis!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolore reiciendis quas, eum odio illo error vitae. Officia, voluptatem cupiditate asperiores quo at sed, corporis quos nulla veritatis, deleniti sint.</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellendus sunt facere aliquid dolor vel minus maxime expedita accusamus. Dignissimos repellat, culpa dolorum sapiente accusantium ipsam sunt a, voluptatibus architecto!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sint repellat commodi autem reprehenderit, placeat ipsam. Exercitationem iusto quia aliquid dignissimos a, hic! Recusandae omnis corrupti cum commodi asperiores aliquam.</p>

    </div>
  </div>

</div>


<div class="col-md-2">
  <%= render 'layouts/advert'%>  
</div>


</div>