<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/artists' %>
  </div>
  <div class="col-md-8">
    <h1>Акции</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam non ea quidem placeat quisquam suscipit facere enim dolores explicabo alias reiciendis cupiditate, in, accusamus error tempore fuga qui eos, laborum.</p>

  </div>
  <div class="col-md-2">
    <%= render 'layouts/advert' %>
  </div>
</div>
