<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/artists' %>
  </div>
  <div class="col-md-8">
    <h1>Контакты</h1>
    <address>
    <strong>БазАрт</strong><br>
    Белгород,<br>
    пр-т Славы, 88<br>
    <abbr title="Телефон">Тел:</abbr> +7 (906) 5653589
    </address>  

    <div class="topic-image">
      <%= holder_tag '800x400', 'Карта проезда', 'gray', :class => 'img-responsive'  %>
    </div>

  </div>
  <div class="col-md-2">
    <%= render 'layouts/advert' %>
  </div>
</div>
