<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-8">
  <h1>Контакты</h1>
  <address>
  <strong>БазАрт</strong><br>
  Белгород,<br>
  пр-т Славы, 88<br>
  <abbr title="Телефон">Тел:</abbr> +7 (906) 5653589
  </address>  
  </div>
  <div class="col-md-2">
    <%= render 'layouts/advert' %>
  </div>
</div>
