/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

$brand-primary: #ff6600;
$body-gray: #959595;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-wysihtml5";

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header, footer {
  text-align: center;
}

header {
  min-height: 190px;
  
  .logo {
    margin: 38px 0;
  }

  .orange-spacer {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $brand-primary;
    display: inline-block;
  }
}

footer {
  min-height: 100px;
  margin-top: 100px;

  .logo {
    margin: 12px 0;
  }

  .spacer {
    width: 10px;
    height: 10px;
    display: inline-block;
  }  
}

nav.gray-nav a {
  color: $body-gray;
  font-size: 1.11em;
}

.pic-wrap, .ad-wrap {
  margin: 13px 0;
}

.pic-wrap-last-child, .ad-wrap-last-child {
  margin-top: 26px;
}

.topic-wrap {
  min-height: 150px;
}

.topic-wrap .media-body {
  min-height: 120px;
}

.topic-image, .topic-teaser, .topic-content {
  margin: 15px 0;
}

.right {
  text-align: right;
}

h3 {
  color: $brand-primary;
}