    <div class="ad-wrap">
      <%= holder_tag '200x240', 'Advert 1', 'vine', :class => 'img-responsive'  %>
    </div>

    <div class="ad-wrap">
      <%= holder_tag '200x240', 'Advert 2', 'vine', :class => 'img-responsive'  %>
    </div>