<div class="hidden-sm hidden-xs">
  <h4>Художники</h4>
  <ul class="nav artists">
    <% artists = top_artists(10) %> 
    <% artists.each do |artist| %>
      <li> <%= link_to artist.fullname, artist %></li>
    <% end %>    
  </ul>  
</div>
