<h3>Художники</h3>
<ul class="nav">
  <li><a href="">Олег Булавин</a></li>
  <li><a href="">Иван Крамской</a></li>
  <li><a href="">Иван Айвазовский</a></li>
  <li><a href="">Борис Айнштенберг</a></li>
  <li><a href="">Сергей Расковалов</a></li>
  <li><a href="">Семён Ляшенков</a></li>
  <li><a href="">Олег Булавин</a></li>
  <li><a href="">Иван Крамской</a></li>
  <li><a href="">Иван Айвазовский</a></li>
  <li><a href="">Борис Айнштенберг</a></li>
  <li><a href="">Сергей Расковалов</a></li>
  <li><a href="">Семён Ляшенков</a></li>      
</ul>